name: Release version

on:
  push:
    tags: "*"

jobs:
  build:
    name: Release build and run unit tests with Go 1.19
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Test
        run: make test

      - name: Build
        run: make release

      - name: Calculate checksums
        run: sha256sum restreamer-* > SHA256SUMS

      - name: Upload artifacts
        uses: actions/upload-artifact@v3.1.0
        with:
          name: restreamer
          path: |
            restreamer-*
            SHA256SUMS
          if-no-files-found: warn
          retention-days: 1

  release:
    name: Release tag
    runs-on: ubuntu-latest
    needs: [build]

    permissions:
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: restreamer

      - name: List artifacts
        run: ls -lR

      - name: Construct release version
        id: release_version
        # remove the leading v (if present) and match the relaxed SemVer part
        run: |
          export release_version=$(echo ${{ github.ref_name }} | sed -E 's/^v?(([0-9]+.)*[0-9]+)/\1/')
          echo ::set-output name=version::$release_version

      - name: Create GitHub release
        uses: swisstxt/github-action-release-artifacts@main
        with:
          tag: ${{ steps.release_version.outputs.version }}
          create_release: true
          release_name: "restreamer ${{ steps.release_version.outputs.version }}"
